
@import url(reset.css);
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #ffffff;
    line-height: 1.3;
    min-width: 1152px ;
    max-width: 1800px;
    margin: 0 auto;

}

p {
    font-size: 16px;
    line-height: 1.5;
}

.header {
    width: 100%;
    background: url("../img/header.png") no-repeat center top;
    outline: 1px solid red;
    margin: 0 auto 1.688em;
    #height: 435px;
    position: relative;
    min-width: 1152px;
    box-sizing: border-box;
    min-height: 438px;
}


.container {
    width: 1172px;
    #outline: 1px solid blue;
    #height: 23.313em;
    margin: 0 auto;
    min-width: 72.000em;
    box-sizing: border-box;
    position: relative;

}

.logo {
    #outline: 1px solid red;
    margin-top: 1.188em;
    display: inline-block;
    padding: 0 10px;
}

.logo a {
    text-decoration: none;
}



.address {
    width: 442px;
    float: right;
    #outline: 1px solid red;
    margin-top: 1.875em;
    box-sizing: border-box;
    font-style: normal;
    padding: 0 10px;
}

.har_font{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.875em;
    color: #ffffff;
}

.address_phone {
    color: #ffffff;
    font-weight: 700;
    font-size: 3.704em;
    font-family: 'Roboto Slab', serif;

}

.address_contacts {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    font-weight: 700;
    color: #ffffff;
    display: block;
    margin-bottom: 1.438em;
}



.address_time {
    background: url("../img/time.png") no-repeat;
    padding-left: 1.875em;
    #background-size: auto 100%;
    float: left;
    margin-top: 0.313em;


}

.address_feedback {
    text-decoration: none;
    margin: 0 0.625em 0 1.250em;
    padding: 0.500em 1.250em;
    color: #ffffff;
    background-color: #ffb000;
    border-radius: 3px;
    display: block;
    float: right;
    background-image: linear-gradient(to bottom, #ffb600 0%, #FF950F 61%, #FF950F 100%);
}

.address_feedback:hover {

    background-image: linear-gradient(to top, #ffb600 0%, #FF950F 61%, #FF950F 100%);
}

.social {
    margin-top: 0.438em;
    #outline: 1px solid red;
    display: inline-block;
    box-sizing: border-box;
}

.social a:not(.social_vk)  {
    margin-left: 0.625em;
}



.sidebar{
    background: url("../img/bottom.jpg") repeat-x center top;
    width: 100%;
    height: 62px;
    -webkit-box-shadow: 0px -6px 16px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px -6px 16px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px -6px 16px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    #outline: 1px solid green;
    box-sizing: border-box;

}

.sidebar_basket {
    padding: 1.188em 2.063em 0 7.375em;
    background-color: #ffffff;
    /*margin-top: -50px;*/
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    border-top-left-radius: 8px; /* Левый верхний уголок */
    border-top-right-radius: 8px; /* Правый верхний уголок */
    width: 21.750em;
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FDFDFD 50%, #F8F8F8 75%, #F1F1F1 85%, #E6E6E6 100%);

    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FDFDFD 50%, #F8F8F8 75%, #F1F1F1 85%, #E6E6E6 100%);

    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FDFDFD 50%, #F8F8F8 75%, #F1F1F1 85%, #E6E6E6 100%);

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(50, #FDFDFD), color-stop(75, #F8F8F8), color-stop(85, #F1F1F1), color-stop(100, #E6E6E6));

    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FDFDFD 50%, #F8F8F8 75%, #F1F1F1 85%, #E6E6E6 100%);

    background-image: linear-gradient(to top, #FFFFFF 0%, #FDFDFD 50%, #F8F8F8 75%, #F1F1F1 85%, #E6E6E6 100%);
    -webkit-box-shadow: 3px 0px 10px 0px rgba(50, 50, 50, 0.75), -3px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 0px 10px 0px rgba(50, 50, 50, 0.75), -3px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 0px 10px 0px rgba(50, 50, 50, 0.75),  -3px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

.nav {
    height: 62px;
}

.nav_list {
    height: 100%;
    display: inline-block;
    #flex-wrap: wrap;
    #align-items: center;
    position: relative;
    #float: left;
    #outline: 1px solid yellow;
}

.nav_item{
    font-size: 16px;
    display: inline-block;
    #outline: 1px solid yellow;



}

.nav_item a {
    padding: 22px 16px;
    display: table-cell;
    color: #462107;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;



}

.nav_list  a:hover {
    background-image: linear-gradient(to top, #ffb600 0%, #FF950F 61%, #FF950F 100%);
    text-decoration: none;
    border-radius: 3px;

}

.nav_list a:active {
    color: #462107;
}

.nav_item::after {
    content: '';
    background: url("../img/line.png") no-repeat;
    width: 2px;
    height: 36px;
    display: block;
    position: absolute;
    bottom: 20%;
}

.nav_list .nav_item:first-child::after{
    background: none;
}


.you_basket{
    float: right;
    margin-left: 12px;
    #outline: 1px solid maroon;
    box-sizing: border-box;



}

.you_basket:before {
    content: '';
    background: url("../img/sidebar_basket.png");
    width: 129px;
    height: 100px;
    display: block;
    position: absolute;
    left: 0;
}



.basket_title{
    font-family: 'Roboto Slab', sans-serif;
    color: #462107;
    font-size: 1.375em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0.5em;

}

.basket_content{
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

.basket_content p {

    margin-bottom: 0.5em;
    font-size: 0.938em;

}

.basket_content a{

    margin-bottom: 0.5em;
    font-size: 0.938em;
    color: #462107;
}

.basket_content .basket_content_goods {
    font-size: 0.875em;
}

/*НАЧАЛО БЛОКА MAIN*/

.slider{
    width: 100%;
    height: 300px;

}


.bxslider{
    width: 100%;
    height: 300px;


}

.bxslider li {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*.pic{
    background-image: url("../bxslider/images/pic1.png");
    width: 1150px;
    height: 100%;
}*/
.slider_bg{
    border-radius: 10px;
    border: 1px solid #996600;
    height: 100%;
}